mixin Menu(settings)
    - var classes = !!settings.additionalClasses ? `${settings.additionalClasses} menu` : 'menu'

    nav(id=settings.id class=classes)
        each data in settings.items
            - var linkClasses = !!data.linkClasses ? `${data.linkClasses} menu__item` : 'menu__item'

            if (!!data.type && data.type === 'withIcon')
                - var iconPosClass = data.iconPosition === 'right' ? 'menu__item-icon_right' : 'menu__item-icon_left'
                - var iconClasses = `menu__item-icon ${iconPosClass}`

                if (!!data.link)
                    a(class=linkClasses href=data.link)=data.text
                        svg(class=iconClasses)
                            use(xlink:href=`./assets/images/svg/symbol/sprite.svg#${data.iconId}`)
                else
                    span(class="menu__item")=data.text
                        svg(class=iconClasses)
                            use(xlink:href=`./assets/images/svg/symbol/sprite.svg#${data.iconId}`)
            else
                if (!!data.link)
                    a(class=linkClasses href=data.link)=data.text
                else
                    span(class="menu__item")=data.text